html,body{
	margin:0px;
	padding:0px;
}


body{
	background-image: url(fon.png);
	/*background-color: #f1f2f8;*/
}

h1{
	font-size: 150%;
}

hr{
	border-bottom: 1px solid #0728f8;
}

#menu{
	border-right: 1px solid #ffb400;
	background: rgba(43, 60, 101, 0.75);
	/*background: rgba(220, 224, 248, 1);*/
	height:100vh;
	float:left;
	width:20%;
}
#menu div#menu1{
	cursor: pointer;
	padding:  20px;
	color: #f3930a;
	font-size: 18px;
    font-weight: 600;
}

#menu p{
	border-left: 5px solid #ffb400;
	border-bottom: 1px solid #ffb400;
}

#menu p:hover{
   color: #ffd200 ;
   background: rgba(246, 240, 15, 0.25);
   transition: background 500ms;
}

#thumbnail, #form1 {
	padding:5px;
	margin-bottom:20px;
	background: rgba(210, 220, 236, 0.75);
	border-style: solid;
	border-width: 1px;
	border-color: #ffb400;
	color: #444444;
	font-size: 18px;
    font-weight: 600;
	float:right;
	width:77%;
}

.title,.date{
	color: #444;
	font-size: 18px;
    font-weight: 800;
}

.date {
   color: #636363;
   font-size: 14px;
   font-weight: 200;
}

.link {
   color: #393939;
   margin: 20px;
   text-decoration: underline;
   font-size: 14px;
   font-weight: 200;
}
#feed{
	float:left;
}
.likes {
	margin-right: 40px;
	color: #222;
	background: rgba(251, 255, 143, 0.75);
	cursor: pointer;
	display: inline-block;
	font-size: 15px;
	line-height: 40px;
	min-width: 40px;
	height: 40px;
	border-radius: 50%;
	text-align: center;
	font-weight: 200;
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);
	transition: background 500ms;
	float: right;
}

.likes:hover {
   color: #ffd200 ;
   background: rgba(246, 240, 15, 0.25);
   transition: background 500ms;
}

.likes:active{
color: #111 ;
   background: rgba(235, 165, 55, 1);
   transition: background 500ms;
}

#form1 input.input{
	margin: 10px;
	border:2px solid #ffb400; 
	-webkit-border-radius: 5px;
	border-radius: 5px;
	width: 99%;
}
#form1 input.input:focus{
	border-color:#fb6b0b;
}

#form1 input.button{
	font-weight: 700;
	color: #222;
	border-radius: 3px;
	background: rgb(235, 165, 55);
	box-shadow: 0 -3px rgb(235,146,6) inset;
	transition: 0.2s;
  	width: 100%;
} 
#form1 input.button:hover {
	background: rgb(208,129,10);
}


@media only screen and (min-width: 1140px) {
	#main
	{
		padding:20px 40px 20px 40px;
	}
}
