<div class="header">
   <h1>{{title}}</h1>
</div>
<div id="thumbnail" ng-repeat='l in feeds'>
      <a class="text" ng-click="$eval(l.onClick)(l)"> {{l.key}} </a>
      <div class="remove" ng-click="$eval(l.onRemove)(l)">X</div>
</div>

<div id="form1">
   <form role="form" ng-submit="addFeedBack()">
      <input type="text" class="input" ng-model="feed.name" placeholder="Enter feed name">
      <hr>
      <input type="text" class="input" ng-model="feed.key" placeholder="Enter feed URL">
      <hr>
      <input type="submit" class="button" value="Add">
   </form>
</div>
