html, body {
	font: small/1.6em Verdana, Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
	width:100%;
}

body{
	background-image: url(https://cloud.githubusercontent.com/assets/15253351/10869489/4de70e22-80ba-11e5-90cf-3b826042b83d.jpg);
}

h1{
	font-size: 150%;
}

hr{
	border-bottom: 1px solid #ffb400;
}

.header img#logo {
	float: right;
	margin-right: 50px;
	margin-top: 20px;
}

.thumbnail {
	padding:  0px 0px 20px 0px;
	background: rgba(210, 220, 236, 0.75);
	border-style: solid;
	border-width: 1px;
	border-color: #ffb400;
	border-radius:15px;
	color: #444444;
	margin-top: 20px;
	margin-left: 450px;
	margin-right:40px;
}

#form1, #menu{
	margin-top: 20px;
	margin-left:40px;
	background: rgba(210, 220, 236, 0.75);
	padding:  0px 20px 20px 20px;
	border-style: solid;
	border-width: 1px;
	border-color: #ffb400;
	border-radius:15px;
	color: #444444;
	font-size: 18px;
    font-weight: 600;
	float: left;
}

#menu{
	width: 330px;
}

#menu p{
	border-left: 5px solid #ffb400;
	border-bottom: 1px solid #ffb400;
}

#menu p:hover{
   color: #ffd200 ;
   background: rgba(246, 240, 15, 0.25);
   transition: background 500ms;
}
#form1{
	font-size: 18px;
	width: 60%;
}

#form1 input.input{
	border-left: 5px solid #ffb400;
	margin-top: 20px;
	padding:5px;
	border:2px solid #ccc; 
	-webkit-border-radius: 5px;
	border-radius: 5px;
	width: 100%;
}
#form1 input.input:focus{
	border-color:#333;
}

#form1 input.button{
	font-weight: 700;
	color: #222;
	border-radius: 3px;
	background: rgb(235, 165, 55);
	box-shadow: 0 -3px rgb(235,146,6) inset;
	transition: 0.2s;
  	width: 100%;
} 
#form1 input.button:hover {
	background: rgb(208,129,10);
}

#form1 input.button:active {
	background: rgb(235,160,16);
	box-shadow: 0 3px rgbrgb(235,146,6) inset;
}

.title,
.date {
	color: #444;
	margin: 20px;
	font-size: 18px;
    font-weight: 800;
}

.date {
   color: #636363;
   font-size: 14px;
   font-weight: 200;
}

.link {
   color: #393939;
   margin: 20px;
   text-decoration: underline;
   font-size: 14px;
   font-weight: 200;
}

.likes {
	color: #222;
	background: rgba(251, 255, 143, 0.5);
	cursor: pointer;
	display: inline-block;
	font-size: 15px;
	line-height: 40px;
	min-width: 40px;
	height: 40px;
	border-radius: 50%;
	margin: 0 -30px 0 40px;
	text-align: center;
	font-weight: 200;
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);
	transition: background 500ms;
}

.remove {
	color: #222;
	background: rgba(251, 255, 143, 0.5);
	cursor: pointer;
	display: inline-block;
	font-size: 15px;
	line-height: 40px;
	min-width: 40px;
	height: 40px;
	border-radius: 50%;
	margin: 0 -30px 0 40px;
	text-align: center;
	font-weight: 200;
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);
	transition: background 500ms;
}

.likes:hover {
   color: #ffd200 ;
   background: rgba(246, 240, 15, 0.25);
   transition: background 500ms;
}

.likes:active{
color: #111 ;
   background: rgba(235, 165, 55, 1);
   transition: background 500ms;
}
